html, body {
  font-family: 'Dancing Script', cursive; 
  color: white;
  font-size: 16px;
}

body {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  background-color: lightskyblue;
}

.title {
  color: darkblue;
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

.imgContainer1 {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imgContainer2 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  align-items: flex-end;
}

.avionAccueil {
  width: 75%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px lightskyblue;
  
}

.txtContainer {
  border: solid 1px darkblue;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
}

.textAccueil {
  color: darkblue;
  font-weight: 700;
  text-align: center;
}

.footer {
  background-color: lightskyblue;
  padding-top: 10px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-block-end: 25px;
}

.item {
  color: white;
}

@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 25px;
  }

  .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 25px;
  }

  .avionAccueil {
    width: 75%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightskyblue;
    
  }
}

@media only screen and (max-width: 575px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    padding-left: 50px;
    margin: 25px;
    padding-right: 25px; 
    margin-top: 10px;
  }

  nav {
    background-color: lightskyblue;
    width: 97%;
  }
}

button {
  width: 100px;
  height: 50px;
  background-color: #0d6efd;
  color: white;
  border-radius: 10px;
  border: solid 1px grey;
  margin-bottom: 10px;
}

button:hover {
  background-color: lightskyblue;
}



