html, body {
  font-family: 'Dancing Script', cursive; 
  color: white;
  font-size: 16px;
}

body {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  background-color: lightskyblue;
}

h5 {
  text-decoration: underline;
}

.title {
  color: darkblue;
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

.content {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContainer {
  margin: auto;
}

.cardStructure {
  margin: 20px;
  box-shadow: 10px 10px 5px darkblue;
  border-color: black;
}

.cardBody {
  background-color: lightskyblue;
}

.text {
  color: darkblue;
  font-weight: 700;
  text-align: justify;
}

.footer {
  background-color: lightskyblue;
  padding-top: 10px;
}

.smallFooter {
  text-align: center;
}

@media only screen and (max-width: 479px) {
  .cardStructure {
    width: 15rem;

  }
}

@media only screen and (min-width: 480px) {
  .cardStructure {
    width: 18rem;
  }
}

@media only screen and (min-width: 960px) {
  .cardStructure {
    width: 20rem; 
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .cardStructure {
    width: 17rem;
  }
  
  img {
    width: 250px;
    height: 200px;
  }
}